<!DOCTYPE html>
<html>
<head>
	<title>Rekko - Face Recognition</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<section id="home">
		<div class="container">
            <div class="center">
                <img id="main-logo" src="/static/img/logo1.png">
            </div>
            <div id="features" class="row center">
            	<div id="open-db-add" class="col l3">
                	<img src="/static/img/man.png">
                	<h2>ajouter une personne à la base</h2>
            	</div>
            	<div class="col l3">
                	  <img id="feature-upload-img" src="/static/img/upload.png">
                	  <h2 id="feature-upload-txt">uploader une toto</h2>
					  <input id="feature-upload-input" type='file' class="hide"/>
            	</div>
            	<div id="open-cam" class="col l3">
                	<img src="/static/img/webcam.png">
                	<h2>ouvrir la webcam</h2>
            	</div>
            	<div id="open-sys-param" class="col l3">
                	<img src="/static/img/eye-recognition.png">
                	<h2>paramètres du système</h2>
            	</div>
            </div>
        </div>
	</section>

	<section id="adding" class="hide">
		<div class="container">
            <div id="header" class="row">
				<div class="col l3 left">
            		<span class="go-back">
            			<img src="/static/img/return.png">
            			<span> Retour</span>
            		</span>
				</div>
				<div class="col l6 center">
                	<img id="main-logo" src="/static/img/logo2.png">
            	</div>
				<div class="col l3 right">
	        		<a class="rounded" href="{{ url_for('logout') }}">Déconnecter</a>
				</div>
        	</div>
            <h2>Ajout d'une personne à la base</h2>
            <div id="content" class="row center">
            	<div class="col l10 offset-l1">
	            	<div class="advices">
						<img id="add-icon" src="/static/img/add-img.png">
						<p>Conseils : Ajouter le plus d'images possible avec des positions et éclairages différents (chaque image ne doit contenir qu'un seul visage).</p>
					</div>
					<input type="file" multiple id="feature-upload-multiple-input" class="hide">
				</div>
				<div class="input-field col s4 offset-s4">
          			<input id="last_name" type="text" class="validate" value="Quentin Tarantino">
          			<label for="last_name">Entrez le nom et prénom</label>
        		</div>
        		<div class="input-field col s12 center">
	        		<a class="waves-effect waves-light btn rounded">Ajouter</a>
	        	</div>
			</div>
        </div>
	</section>

	<section id="process" class="hide">
		<div class="container">
			<div id="header" class="row">
				<div class="col l3 left">
            		<span class="go-back">
            			<img src="/static/img/return.png">
            			<span> Retour</span>
            		</span>
				</div>
				<div class="col l6 center">
                	<img id="main-logo" src="/static/img/logo2.png">
            	</div>
				<div class="col l3 right">
				</div>
        	</div>
            <div id="content" class="row center">
            	<div id="uploaded-img" class="col l6"></div>
                <div class="col l5 offset-l1">
                	<h2>Personnes détéctées</h2>
	            	<div id="results-img">
	                	<div class="row">
		                	<div class="col l3"><img src="/static/img/matoub.png"></div>
		                	<div class="col l6"><h3>Arslan Mouloudi</h3><h4>Taux: 0.857525</h4></div>	
	                	</div>
	                	<div class="row">
		                	<div class="col l3"><img src="/static/img/2pac.png"></div>
		                	<div class="col l6"><h3>Arslan Mouloudi</h3><h4>Taux: 0.857525</h4></div>	
	                	</div>
	                	<div class="row">
		                	<div class="col l3"><img src="/static/img/matoub.png"></div>
	            			<!-- Modal Trigger -->
		                	<div class="col l6"><h3>Inconnu</h3><h5 class="modal-trigger" href="#modal1">Ajouter à la base ?</h5></div>	
	                	</div>
	            	</div>
            	</div>
            </div>
        </div>
	</section>

	<section id="parameters" class="hide">
		<div class="container">
            <div id="header" class="row">
				<div class="col l3 left">
            		<span class="go-back">
            			<img src="/static/img/return.png">
            			<span> Retour</span>
            		</span>
				</div>
				<div class="col l6 center">
                	<img id="main-logo" src="/static/img/logo2.png">
            	</div>
				<div class="col l3 right">
	        		<a class="rounded" href="{{ url_for('logout') }}">Déconnecter</a>
				</div>
        	</div>
            <h2>Paramètres</h2>
            <div id="content" class="row center">
				<div class="col s10 offset-s1">
					<div class="col s4">
						<h3>Algorithme à utiliser</h3>
					</div>
					<div class="col s8">
						<ul class="left">
							<li>SVM<br><span>.</span></li>
							<li>Random Forrest<br><span>.</span></li>
						</ul>
					</div>
        		</div>
        		<div class="col s10 offset-s1">
        			<div class="col s4">
						<h3>Seuil de reconnaissance</h3>
					</div>
					<div class="col s8">
						<ul id="threshold" class="left">
							<li>0.60<br><span>.</span></li>
							<li>0.65<br><span>.</span></li>
							<li>0.70<br><span>.</span></li>
							<li>0.75<br><span>.</span></li>
							<li>0.80<br><span>.</span></li>
							<li>0.85<br><span>.</span></li>
							<li>0.90<br><span>.</span></li>
							<li>0.95<br><span>.</span></li>
						</ul>
					</div>
        		</div>
        		<div class="col s10 offset-s1">
        			<h4>Choisir une autre base ?</h4>
        		</div>
			</div>
        </div>
	</section>
	<section id="video" class="hide">
		<div class="container">
            <div id="header" class="row">
				<div class="col l3 left">
            		<span class="go-back">
            			<img src="/static/img/return.png">
            			<span> Retour</span>
            		</span>
				</div>
				<div class="col l6 center">
                	<img id="main-logo" src="/static/img/logo2.png">
            	</div>
				<div class="col l3 right">
	        		<a class="rounded" href="{{ url_for('logout') }}">Déconnecter</a>
				</div>
        	</div>
    	<h1>Video Streaming Demonstration</h1>
    	<img src="{{ url_for('video_feed') }}">
    </div>
	</section>
	<div id="footer" class="row center">
		<h1>un projet de master informatique visuelle - usthb, alger - 2019</h1>
	</div>


	<!-- Modal Structure -->
	 <div id="modal1" class="modal">
	   <div class="modal-content">
	   	<div class="row">
			<div class="col l4 center">
				<img src="/static/img/tarantino.png">
			</div>
			<div class="col l8">
				<div class="advices">
					<img id="add-icon" src="/static/img/add-img.png">
					<p>Conseils : Ajouter le plus d'images possible avec des positions et éclairages différents (chaque image ne doit contenir qu'un seul visage).</p>
				</div>
			</div>
			<input type="file" multiple id="feature-upload-multiple-input" class="hide">
		</div>	
	   	<div id="flname" class="row">
			<div class="col 12">
				<div class="input-field col s12">
          			<input id="last_name" type="text" class="validate" value="Quentin Tarantino">
          			<label for="last_name">Entrez le nom et prénom</label>
        		</div>
			</div>
		</div>
	   </div>
	   <div class="modal-footer">
	   	<div class="row">
			<div class="col l4">
				<h4>Cette personne existe déjà ?</h4>
			</div>
			<div class="col l8 right">
	     		<a id="abort" href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
	     		<a id="add" href="#!" class="modal-close waves-effect waves-green btn-flat">Ajouter</a>
			</div>
		</div>	
	   </div>
	 </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/static/js/script.js"></script>

	<script>
		// initialization
    	$('.modal').modal();
		
		$(".go-back").click(function () {
			$('#parameters').addClass('hide');
			$('#adding').addClass('hide');
			$('#process').addClass('hide');
			$('#video').addClass('hide');

			$('#home').removeClass('hide');

		});

		$("#open-db-add").click(function () {
			$('#parameters').addClass('hide');
			$('#adding').removeClass('hide');
			$('#home').addClass('hide');
		});

		$("#open-sys-param").click(function () {
			$('#parameters').removeClass('hide');
			$('#adding').addClass('hide');
			$('#home').addClass('hide');
		});
		$("#open-cam").click(function () {
			$('#parameters').addClass('hide');
			$('#video').removeClass('hide');
			$('#home').addClass('hide');
		});
		
	</script>
</body>
</html>